
#menu {
    position : relative ;
    z-index : 1 ;
}

h1 {
    position : absolute ;
    font-size : 27px ;
    width : 40% ;
    padding-left : 50px ;
    margin-top : 25px ;
    font-family : 'ABeeZee' ;
    color : rgb(51, 51, 51) ;
    top : 0 ;
}

.dropdown , .menu a {
    float : right ;
}

.menu a, .btn {
    padding : 20px ;
    border : none ;
    color : rgb(51, 51, 51) ;
    font-size : 200% ;
    text-decoration: none ;
}

.liens {
    position : absolute ;
    display : none ;
    padding : 10px ;
    /*background-color: #f9f9f9; */
    background-color : rgb(51, 51, 51) ;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    width : max-content ;
    opacity : 0.8 ;
    width : max-content ;
}

.dropdown a {
    float : none ;
    display : block ;
}

#active ,
.menu a:hover {
    color : rgb(150, 150, 150) ;
}

.liens a {
    background : none ;
    color : #f9f9f9 ;
    padding : 0 ;
    padding-top : 5px ;
    font-size : 20px ;
}

.dropdown:hover .liens {
    display : block ;
}

/* Le menu passe sous le titre si la fenetre est trop etroite */
@media only screen and (max-width : 1180px) {
    h1 {
        position : relative ;
    }
    #menu {
        position : relative ;
    }
}

/* Les liens du menu deviennent plus petits si l'ecran fait moins de 300px w */
@media only screen and (max-width : 300px) {
    #menu a {
        padding-top : 5px ;
        padding-bottom : 5px ;
    }
}

