/* The Text Color */
h2 {
    color : rgb(51, 51, 51) ;
}

/* The page */
.container {
    width : 98% ;
    left : 0 ;
} 

/* The page Title */
h2 {
    font-size : 35px ;
    letter-spacing: 1px ;
    text-align : center ;
    width : 100% ;
    margin-top : 35vh ;
}
