#menu-admin {
    margin : 1% ;
    display : flex ;
    flex-wrap : wrap ;
}
#menu-admin form{
    flex : 20% ;
    display : flex ;
    justify-content : center ;
}
#form_change_name {
    flex : 40% ;
    display : flex ;
    align-items : center ;
}
#form_change_name button {
    flex : 20% ;
}
#form_change_name .form-group {
    flex : 80% ;
}
#input_titre {
    width : 100% ;
}


/* Placer les boutons de suppression d'image */
.vignette {
    position : relative ;
}
.vignette .del_image_btn {
    background:none ; 
    border:none ; 
    color:red ; 
    position:absolute ; 
    top:5px ; 
    right:10px ;
    font-weight : bold ;
    font-size : 20px ;
}
