#galerie-page {
    /* Placer la colonne des autres collections a gauche des images */ 
    margin-top : 8% ;
    /* Les proportions de la page en largeur */
    --left-column-width : 20% ;
    --right-page-width : 80% ;
}
#autres-collections {
    width : var(--left-column-width) ;
    position : fixed ;
    /* Aligner le bloc des autres collections verticalement */
    display : flex ;
    flex-direction : column ;
    margin-top : 20vh ;
    /* Distance avec le bord gauche de la fenetre */
    padding-left : 3% ;
}
#current-collection {
    /* Laisser de l'espace pour la colonne de gauche */
    width : var(--right-page-width) ;
    margin-left : var(--left-column-width) ;
    /* Marge entre la colonne et la collection courante */
    padding-left : 5% ;
}
#autres-collections a {
    font-size : 1.5em ;
}
h3 {
    font-weight : bold ;
    margin-bottom : 3% ;
}
#current-collection h3 {
    font-size : 2em;
}
.vignette img {
    width : 22vw ;
    height : 22vw ;
}
.vignette {
    display : inline-block ;
    margin : 1% ;
}

#active-collection {
    color : var(--main-active-color) ;
}